{{page-title "User"}}

<div class="container">
  <button
    class="button is-info mt-5"
    type="button"
    {{on "click" this.toggleShowArchivedUsers}}
  >
    {{if this.showArchivedUsers "Hide" "Show"}}
    archived users
  </button>

  <div class="columns is-centered">

    {{#each this.users as |user|}}
      <div class="column">

        <LinkTo @route="users.user" @model={{user}}>
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>{{user.name}}</p>

            {{#if user.archived}}
              <span class="tag is-warning">Archived</span>
            {{/if}}
          </div>
        </LinkTo>

      </div>
    {{/each}}

  </div>
</div>